@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

body{
  background: #F4F7FA;
}

.toolbar {
	top:0;
	left:0;
	width:100%;
	background:white;
 }

 .toolbar_navigation{
   display:flex;
   height:100%;
   align-items:center;
   padding:0 1rem;  
 }

 .spacer{
   flex:1;
 }

 .logo a {
	 color:white;
 }

 .navbar_items ul {
   display:flex;
   margin:0;
   padding:0;
   list-style:none;
  font-size: 1.1em;
 }

 .navbar_items li a {
   padding:0 0.5rem;
  text-decoration: none;
  color: #7D7C7D;
 }
 
 li a.active {
  color: #000000;
  border-bottom: 2px solid #000000;
  font-weight: 300;
 }
 li a:hover {
  color: #B6B6B6;
 }

 @media screen and (min-width : 600px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-left: 2.3em;
  }
  nav {
    align-self: center;
    margin: 0 0.8em 0 0;
  }
 }

 .container{
   width:96%;
   margin:auto;
 }

 .searchInput{
  width: 90%;
  padding: 1.3em;
  border:0;
 }

.btnSearch{
  border-radius: 0 4px 4px 0;
  background: #559EFD;
  width: 10%;
  height: 59px;
  color: white;
  border: 0;
  font-size:20px;

}

.filters{
  width: 64%;
  float: left;
}
/* 
.filterSection{
  padding-top:2em;  
} */

.clear{
  color:grey;
}

.ant-row{
  padding-top:1.3em;
}

.sectionText{
  font-weight:bold;
  padding-bottom:0.5em;
}

.ant-input-number{
  margin-left:0 !important;
  width:44px;
  float:left;
}

.hyphen{
  margin-top:4px;
  float:left;
}

.antSlider .ant-slider-rail{
  background:lightgrey !important;
}

.antSlider .ant-slider-track{
  background:#56D48F;
}

.antSlider .ant-slider-handle{
  border: solid 1px lightgray;  
}

.searchSection{
  padding-top:1em;
}

.cardsSection{
  padding: 0 30px 0 30px;
}

.floatLeft{
  float: left;
}

.clearBoth{
  clear:both;
}

.padding-left-10{
  padding-left:10px;
}


.skills{
  padding-top: 1em;
}

.skills>ul{
  list-style-type: none;
  padding: 0;
}

.skills>ul>li{
  display:inline;
  margin-right:10px;
  padding:9px;
  border: 0.4px solid lightgrey;
  display: inline;
  border-radius: 7px
}

.whiteBg{
  background:white;
}

.section1{
  padding: 0 25px 0 25px;
}

.companyIcon {
  /* background: url('images/company.png'); */
  height: 16px;
  width: 16px;
  display: block;
  /* Other styles here */
}

.locationIcon {
  /* background: url('images/location.png'); */
  height: 16px;
  width: 16px;
  display: block;
  /* Other styles here */
}

.centerAlign{
  text-align:center;
}

.padding-30{
   padding: 30px;
}

.signUp{border-radius: 4px;
background: #559EFD;
width: 56%;
height: 45px;
color: white;
border: 0;
font-size: 20px;
}

.colWhite{
  color:white;
}

.padding-25{
  padding:0 25px;}    

.clearBoth img{
  height: 20px;
}  

.footer{
  height:300px;
  background:#324258;
  margin-top:20px;
  padding:40px;
  font-weight:medium;
}

.footerText{
  color:white;
}

.footer ul{
  padding:0;
  list-style-type: none;
}

.footer ul li{
  color:#7F90A8;
  padding-bottom:10px;
}

.social{
  font-size: 18px;
  color: #7F90A8;
}

.fullTime{
  padding: 3px;
  font-size: 13px;
  font-weight: 200;
  background: #4BD3FF;
  margin-left: 10px;
  border-radius: 13px;
  border: 1px solid;
  color: white;
}

.partTime{
  padding: 3px;
  font-size: 13px;
  font-weight: 200;
  background: orange;
  margin-left: 10px;
  border-radius: 13px;
  border: 1px solid;
  color: white;
}

.hourly{
  padding: 3px;
  font-size: 13px;
  font-weight: 200;
  background: lightseagreen;;
  margin-left: 10px;
  border-radius: 13px;
  border: 1px solid;
  color: white;
}

.rate{
  float:right;
  margin-right:10px;
  font-weight:bold;
  font-size:16px;
}

.setWidth{
  width:84%;
}