@import '~antd/dist/antd.css';
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.header-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F2F2F2;
  padding: 2.3em 0;
  height:0px;
 }
 .logo {
  margin-left: 5%;
 }
 .logo img {
  display: block;
 }
 nav {
  margin: 1.5em 0 0 5%;
 }
 header ul li {
  display: inline-block;
  padding: 0 1.4em 0 0;
  font-size: 0.9em;
 }
 header ul li a {
  text-decoration: none;
  color: #7D7C7D;
 }
 li a.active {
  color: #000000;
  border-bottom: 2px solid #000000;
  font-weight: 300;
 }
 li a:hover {
  color: #B6B6B6;
 }

 @media screen and (min-width : 600px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-left: 2.3em;
  }
  nav {
    align-self: center;
    margin: 0 0.8em 0 0;
  }
 }

 .searchInput{
   width:90%;
 }