@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

body{
  background: #F4F7FA;
}

.header-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F2F2F2;
  padding: 35px 0 35px 0;
  height:0px;
  background:white;
 }
 .logo {
  margin-top: -1.6em;
  margin-left: 2.3em;
 }
  /* .logo img {
    display: block;
  } */
 nav {
  margin: 1.5em 0 0 5%;
 }
 header ul li {
  display: inline-block;
  padding: 1em 1.4em 0 0;
  font-size: 1.3em;
  /* line-height: 2px; */
 }
 header ul li a {
  text-decoration: none;
  color: #7D7C7D;
 }
 li a.active {
  color: #000000;
  border-bottom: 2px solid #000000;
  font-weight: 300;
 }
 li a:hover {
  color: #B6B6B6;
 }

 @media screen and (min-width : 600px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    margin-left: 2.3em;
  }
  nav {
    align-self: center;
    margin: 0 0.8em 0 0;
  }
 }

 .container{
   width:96%;
   margin:auto;
 }

 .searchInput{
  width: 90%;
  padding: 1.3em;
  border:0;
 }

.btnSearch{
  border-radius: 0 4px 4px 0;
  background: #559EFD;
  width: 10%;
  height: 59px;
  color: white;
  border: 0;
  font-size:20px;

}

.filters{
  width: 77%;
  float: left;
}
/* 
.filterSection{
  padding-top:2em;  
} */

.clear{
  color:grey;
}

.ant-row{
  padding-top:1.3em;
}

.sectionText{
  font-weight:bold;
  padding-bottom:0.5em;
}

.ant-input-number{
  margin-left:0 !important;
  width:44px;
  float:left;
}

.hyphen{
  margin-top:4px;
  float:left;
}

.antSlider .ant-slider-rail{
  background:lightgrey !important;
}

.antSlider .ant-slider-track{
  background:#56D48F;
}

.antSlider .ant-slider-handle{
  border: solid 1px lightgray;  
}

.searchSection{
  padding-top:1em;
}